/.DS_Store
/.ipynb_checkpoints
/3DZ.ipynb
/DZ-4.sql
/DZ5.sql
/DZ6.sql
/DZ_Confidential_intervals.ipynb
/DZ_Pandas.ipynb
/DZ_Pandas_dif.ipynb
/DZ_Prodv_pandas.ipynb
/DZ_bar.ipynb
/DZ_baz_stat.ipynb
/DZ_clas_clust.ipynb
/DZ_korr.ipynb
/DZ_random.ipynb
/Docs
/Dz5.ipynb
/Foto_razmer.ipynb
/NU173430_images_862296.jpeg
/README.txt
/Superstore_DVA.xls
/Untitled-2.ipynb
/Untitled.ipynb
/avia.backup
/bitcoin.csv
/bitcoin.xlsx
/data.txt
/del_fon.ipynb
/del_fon2.ipynb
/download_images.py
/dvd-rental_from_35.backup
/dz4.ipynb
/dz6.ipynb
/foto.ipynb
/foto_site.ipynb
/genome-scores.csv
/genome-tags.csv
/hr.backup
/images_new_width
/images_without_bg
/iris.CSV
/keywords.csv
/links.csv
/load_file_url.ipynb
/m6-utf8.sql
/ml-100k
/movies.csv
/power.csv
/purchase_log.txt
/ratings.csv
/s-b.numbers
/s-b.xlsx
/s-p-500.csv
/tags.csv
/test.ipynb
/test.py
/test1.ipynb
/test22.ipynb
/untitled.txt
/visit_log.csv
/ДЗ 3.sql
/Итоговая.sql
/Итоговая_доп.sql
/Пояснения.docx